#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.redClick {
  background-color: red;
}

.blueClick {
  background-color: blue;
}

.greenClick {
  background-color: green;
}

.orangeClick {
  background-color: orange;
}

.purpleClick {
  background-color: purple;
}